#info {
    /* position: fixed; */    
    max-height: 115px; 
    width: 50%;    
    z-index: 100;    
    background-color: limegreen;
    border: 2px solid lime;
    padding: 10px;    
}
#startbutton{

}
#runningInfo{
    /* display: none; */
    display: inline-block;
    position: fixed;    
    top: 0px;
    right: 0px;
    max-height: 130px; 
    width: 50%;    
    z-index: 100;    
    background-color: limegreen;
    border: 2px solid lime;
    padding: 10px;   
    
}

#runningInfoeq {
    position: relative; 
    top: 0px;
    right: 0px;
}

#inputlabel1{

}

#input1{
}
